{%extends 'adminDashboard.html'%}
{%block content%}
<div class="container">
    <div class="container">
        <form action="/dadmin/addCourse" method="POST" autocomplete="off" class="row formCss g-3 p-4 pb-5 my-5 justify-content-center">
            {%csrf_token%}
            <div class="col-md-9 mb-3">
                <label for="cname" class="form-label">Course Name</label>
                <input type="text" name="name" id="cname" class="form-control" required>
            </div>
            <br>
            <div class="col-md-9 mb-3">
                <label for="cd" class="form-label">Description</label>
                <input type="text" name="description" id="cd" class="form-control" required>
            </div>
            <br>
            <div class="col-md-5 mb-3">
                <label for="fac" class="form-label">Faculty Name</label>
                <select name="fac_name" id="fac" class="form-control p-2">
                    {%for item in obj%}
                    <option value="{{item.first_name}}">{{item.first_name}}</option>
                    {%endfor%}
                </select>
            </div>  
            <div class="col-md-4 text-center mt-5">  
                <input type="submit" value="Submit" class="btn  w-15 p-2 formButton ">
            </div>
        </form>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col p-5">
                <table class="table table-borderless">
                    <thead>
                        <tr class="main text-center">
                            <th scope="col">Course Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Faculty Assigned</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for item in courses %} 
                            <tr class="text-center">
                                <td scope="row">{{item.name}}</td>
                                <td >{{item.description}}</td>
                                <td >{{item.faculty.first_name}}</td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% comment %} <table class="table table-striped table-bordered table-hover">
        <caption>Courses Added</caption>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Faculty Assigned</th>
        </tr>
        {%for item in courses%}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.faculty.first_name}}</td>
        </tr>
        {%endfor%}
    </table> {% endcomment %}
   </div>
</div>
{%endblock%}