<div class="container">
        <div class="row">
            <div class="col p-5">
                <table class="table table-borderless">
                    <thead>
                        <tr class="main text-center">
                            <th scope="col">#</th>
                            <th scope="col">District</th>
                            <th scope="col">Call Center Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td scope="row">1</td>
                            <td>Srikakulam</td>
                            <td>6300073203</td>
                        </tr>
                        <tr class="text-center">
                            <td scope="row">2</td>
                            <td>Vizianagaram</td>
                            <td>08922-227950 / 9494914971</td>
                        </tr>
                        <tr class="text-center">
                            <td scope="row">3</td>
                            <td>Visakhapatnam</td>
                            <td>9666556597</td>
                        </tr>
                        <tr class="text-center">
                            <td scope="row">4</td>
                            <td>East Godavari</td>
                            <td>8841361763</td>
                        </tr>
                        <tr class="text-center">
                            <td scope="row">5</td>
                            <td>Kurnool</td>
                            <td>9441300005</td>
                        </tr>
                        <tr class="text-center">
                            <td scope="row">6</td>
                            <td>West Godavari</td>
                            <td>08812-222376</td>
                        </tr>
                        <tr class="text-center">
                            <td scope="row">7</td>
                            <td>Krishna</td>
                            <td>9491058200</td>
                        </tr>
                        <tr class="text-center">
                            <td scope="row">8</td>
                            <td>Guntur</td>
                            <td>0863-2271492</td>
                        </tr>
                        <tr class="text-center">
                            <td scope="row">9</td>
                            <td>Prakasam</td>
                            <td>7729803162</td>
                        </tr>
                        <tr class="text-center">
                            <td scope="row">10</td>
                            <td>SPSR Nellore</td>
                            <td>9618232115</td>
                        </tr>
                        <tr class="text-center">
                            <td scope="row">11</td>
                            <td>Chittoor</td>
                            <td>9849902379</td>
                        </tr>
                        <tr class="text-center">
                            <td scope="row">12</td>
                            <td>YSR Kadapa</td>
                            <td>08562-245259</td>
                        </tr>
                        <tr class="text-center">
                            <td scope="row">13</td>
                            <td>Anantapur</td>
                            <td>08554-277434</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>